

*, ::before, ::after {
  box-sizing: border-box;
}


* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}


:root {

  --clr-primary-200: #b4f3ed;
  --clr-primary-500: #65e6d9;

  --clr-secondary-200: ;
  --clr-secondary-500: ;

  --clr-accent-200: ;
  --clr-accent-500: ;

  --clr-text-200: ;
  --clr-text-500: #3c1642;

  --clr-background-200: ;
  --clr-background-500: ;


  --ff: ;
  --ff2: ;
}


main {
  
}


.container {
  border: 1px solid var(--clr-text-500);


}


.header-text {
  font-size: 6rem;
}


.grid-container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: 1fr repeat(3, 200px);
  gap: 10px;
  
}


.text-1 {
  grid-column: 2 / 13;
}

.text-2 {
  grid-column: 2 / 8;
}

.text-3 {
  grid-row: 2 / 4;
  grid-column: 8 / 13;
}

.text-4 {
  gri
}


